.cart-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-image: url("https://mydecorative.com/wp-content/uploads/2019/03/land-clearing.jpg"); */
}

.cart-img { 
    height: inherit;
    width: 100%;
}

.cart-wrapper {
    height: 60%;
    width: 100%;
    min-height: 50%;
    position: absolute;
    border-radius: 30px 30px 0  0; 
    background-color: var(--background-color-light);

}

.cart-wrapper h3 {
    color: var(--primary-color-light);
}

.cart-info {
    padding: 20px 20px;
    height: 100%;
}

.cartDetails {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.cartDetails h4 {
    font-size: 1rem;
   
}

.cart-button {
    cursor: pointer;
    font-size:1rem;
    text-align: center;
    padding: 10px 40px;
    border-radius: 20px;
    color: var(--background-color-light);
    background-color: var(--secondary-color);

}