@media screen {

    
*
{

    --background-color-light: rgb(255,255,255);
    --background-color-dark: rgb(242, 247, 246);
    --primary-color-light: rgb(171, 177, 180);
    --primary-color-dark: rgb(55, 54, 75);
    --secondary-color: rgb(30, 194, 139);

    
}

body {
    background-color: var(--background-color-light) ;
    color: var(--primary-color-dark);
}





.app-layout {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:flex;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-c {
 
    background-color: var(--background-color-light);
    height: fit-content;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 5;
    bottom: 0;
}



.content {
    width: 100%;
    height: fit-content;
    background-color: var(--background-color-dark);
    
}


}


/* ipad/tablet */
@media only screen and (min-width:48.0em){

    


}

@media only screen and (min-width:49.0em) {


.app-layout {
    overflow-y: hidden;
    overflow-x: hidden;
}

    .sidebar-c {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;    
        display:flex;
        height: 100%;
        padding: 0 10px;
        position:relative;
        overflow-y: hidden;
        overflow-x: hidden;
    }


    .content {
        width: 100%;
        margin: 10px 0;
        border-radius: 30px;
        background-color: var(--background-color-dark);
        
    }
}

/* ipad pro screens & laptop */
@media only screen and (min-width:49.0em) and (max-width:64em) {


    
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width:64.063em) and (max-width:90.0em) {
    

}


/* 5k screens and above */
@media only screen and (min-width:91.0em) {
    
}