@media screen {
    .home-c {
        padding: 20px 0;
        padding-left:10px;
        padding-bottom: 70px;
        display: flex;
        flex-direction: column;
    }
    
    .greet-temp {
        display: none;
    }

    .mobile-greet {
        font-size: 1rem;
    }

    .search {
        display: flex;
        width: fit-content;
        align-items: center;
        border-radius:10px;
        padding: 8px 12px;
        background-color: var(--background-color-light);
    }

    .search input {
        border: none;
        outline: none;
        padding: 8px 12px;
        background-color: var(--background-color-light);

    }

    .search input:focus {
        outline: none;
        border: none;
    }

    .search input::placeholder {
        color: var(--primary-color-light);
    }

    .service-responsive {
        position: relative;
        overflow-x: auto;
        column-gap:20px;
        padding: 10px 0;
        padding-right: 20px;
        display: flex;
    
    }

    .service-img {
        border-radius: 20px;
        height: 300px;
        width: 295px;
  
    }

    .service-temp-image {
       
        object-fit: fill;
        border-radius: inherit;
        height: inherit;
        width: inherit;
    }

    .service-info {
        position: absolute;
        bottom:10px;
        margin-left:30px ;
        color: var(--background-color-light);
    }

    .service-info h3 {
        margin: 0;
    }

    .service-info h3 , h4 {
        text-transform: capitalize;
    }

    .service-r {
        display: flex;
        column-gap: 100px;

    }

    .service-l , .service-s {

        display: flex;
        column-gap: 5px;
        align-items: center;
        color: var(--background-color-dark);

    }

    .location-icon , .star-icon , .search-icon {
        fill: var(--background-color-dark);
        width: 20px;
        height: 20px;

    }

    .search-icon {
        fill: var(--primary-color-dark);
    }

    .upcoming-container {
        display: flex;
        margin: 10px 0;
        padding: 6px;
        width: 90%;
        border-radius: 20px;
        flex-direction: column;
        background-color: var(--background-color-light);
    }

    .upcoming-wrapper {
        display: flex;
        column-gap: 20px;
        align-items: center;
    }


    .upcoming-img {
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }

    .upcoming-info h2 {
        margin: .5rem 0;
        font-size: 1rem;
    }

    .upcoming-info h4 {
        margin: 0;
        font-size: .9rem;
        color: var(--primary-color-light);
    }
}