@media screen {
    
    .side-nav {
        padding: 15px 20px;
        
    }
    
    .logo {
        display: none;
    }
    
    .nav-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-items span {
    
        display: none;
    }
    
    .icon {
        fill: var(--primary-color-light);
        width: 24px;
        height: 24px;
        
    }
    
    .active {
        display: none;
    }
    
    .nav-elem:hover .active {
        display: block;
    }
    
    .nav-elem:hover .inactive {
        display: none;
    }

}


@media only screen and (min-width:49.0em) {

    .side-nav {
        flex-direction: column;
        display: flex;
    }

    .icon { 
        width: 24px;
        height: 24px;
        
    }

    .logo {
        width: 100%;
        display: flex;
        padding: 50px 0;
        align-items: center;
        justify-content: center;
    } 

    .logo a {
        text-decoration: none;
        color: var(--secondary-color);
    }

    .nav-items {
        height: 30%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
       
    .nav-items span {
        display: flex;
    }

    .nav-elem {
        color: var(--primary-color-light);
        display: flex;
        align-items: center;
        border-radius: 10px;
        text-decoration: none;
        padding: 6px;
        width: 100%;
        gap: 0.5em;
    }

    .nav-elem:hover .icon {
        fill: var(--background-color-light);
    }

    .nav-elem:hover {
        color:white;
        background-color: var(--secondary-color);
    }
    

}

/* ipad pro screens & laptop */
@media only screen and (min-width:49.0em) and (max-width:64em) {

}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width:64.063em) and (max-width:90.0em) {

    
    
}


/* 5k screens and above */
@media only screen and (min-width:91.0em) {


}